h1 {
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ant-card {
  margin: 2ch;
  width: 20vw;
  height: 20vw;
}

.ant-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
  gap: 4rem;
}