.team{
    margin: 74px 0;
}
h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}
h1:after {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

img{
    /* height: 367px;
    width: 306px; */ 
    height: 345.6px;
    width: 288px;
}
.profile{
    margin-top: 25px;
}
.profile .img-box{
    opacity: 1;
    display: inline-block;
    position: relative;
}
.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px
}
/* .img-box {
    width: 306px;
} */

.img-box:after{
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right:0;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.img-box ul li {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
}

.img-box a {
    color: #fff;
}
.img-box:hover:after{
    opacity: 1;
}
.img-box:hover ul {
    opacity: 1;
}
.img-box a:hover li{
    color: #007bff;
    border: 1px solid #007bff;
}
.img-box:after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
}

/* .container .nav,
.container footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2em 4em;
}
.nav-items a {
    text-decoration: none;
    color: #000;
}
.nav-items a:not(:last-child) {
    padding-right: 4em;
} */
